<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>

    <title>After School App</title>
</head>
<body>
  <div id="app">
    <header>
      <h1 v-text="sitename"></h1>
      <button v-on:click="showCheckout">
        {{ itemsInTheCart }}
        <span class="fa-solid fa-cart-shopping"></span>
        Checkout
      </button>
    </header>

    <main>
      <div v-if="!showProduct">
        <figure>
          <img v-bind:src="product.image">
        </figure>

        <h1 v-text="product.title"></h1>
        <p v-text="product.description"></p>
        <p>Price: {{product.price}}</p>

        <button v-on:click="addItemToTheCart" v-if="canAddToTheCart">Add to the Cart</button>

        <div v-else>
          <button disabled>Add to the Cart</button>
          You have added all the available items for this product in your cart
        </div>
      </div>

      <div v-else>
        <h1>Welcome to the Checkout page</h1>
        <p>
          <strong>Name:</strong>
          <input type="text" v-model.trim="order.name">
        </p>
        <p>
          <strong>PhoneNumber:</strong>
          <input type="text" v-model.number="order.phonenumber">
        </p>

        <h2>Order Information</h2>
        <p>
        <strong>Name: </strong>{{order.name}}
      </p>
    </p>
        <strong>PhoneNumber: </strong>{{order.phonenumber}}
      </p>
      <button v-on:click="submitCheckoutForm">Place Order</button>
      </div>
    </main>
  </div>

  <script>
    let webstore = new Vue({
      el: "#app",
      data: {
        sitename: "After School App",
        showProduct: true,
        product: {
          id: 1001,
          title: "Cat Food, 25lb bag",
          description: "A 25 pound bag of <em>irresistible</em>, organic goodness for your cat.",
          price: 2000,
          image: "images/maths.png",
          availableInventory: 5
        },
        cart: [],
        order: {
          name: "",
          phonenumber: ""
        }
      },
      methods: {
        showCheckout: function() {
          if (this.showProduct) {
            this.showProduct = false;
          } else {
            this.showProduct = true;
          }
        },
        addItemToTheCart: function() {
          this.cart.push(this.product.id);
        },
        submitCheckoutForm(){
          alert("congratulations, order submitted:)")
        }
      },
      computed: {
        itemsInTheCart: function() {
          return this.cart.length || "";
        },
        canAddToTheCart: function() {
          return this.product.availableInventory > this.cart.length;
        }
      }
    })
  </script>
</body>
</html>
